.header-row {
  padding: 20px;
  border-bottom: thick;
  border-bottom-color: coral;
  background-color: skyblue;
}

.search-bar {
  padding: 10px;
  width: auto;
  align-content: auto;
}

.form-control {
  width: 100%;
  border: solid;
}

.search-div {
  text-align: center;
}

body {
  background-color: lightgray;
}
