.header-row {
  padding: 20px;
  border-bottom: thick;
  border-bottom-color: coral;
  background-color: skyblue;
}

.main-page {
  background-color: gray;
}

.form-control {
  width: auto;
}

body {
  background-color: navy;
}
